# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS metadata
.DS_Store
Thumbs.db

# Build and distribution
build/
dist/
*.egg-info/
bin/
obj/

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs and editors
.vscode/
.idea/
*.swp

# Logs
*.log
 
 